<h2>Add a new train</h2>

<form action="/trains" method="post">
  <div class="form-group">
    <label for="train_name">Train name:</label>
    <input name="train_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
